*{
    font-family: 'Lato', sans-serif !important;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.page-footer 
{
    background-color: white;

}
.navbar
{
    background-color: white !important;
}

.back{
    background-color: #F8F8FB;
}
.lineaEscudo{
    border-right: 1px #1b3257 solid;
    
    height: 45px;
}
.logoUASLP-ING{
    width: 50%;
    height: 50%;
    
}

.form
{
    margin-left: 0 !important;
}
.row-resp-true
{
    background: #F8F991;
}

.form-control{
    background:  rgba(0, 0, 0, .04) !important;
    background-image: initial!important;
    background-position-x: initial!important;
    background-position-y: initial!important;
    background-size: initial;
   
    background-attachment: initial!important;
    background-origin: initial!important;
    background-clip: initial!important;
    background-color: rgba(0, 0, 0, 0.04)!important;
    border:0 !important;

    box-sizing: border-box;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif !important;
    font-size: 19px;
}

 html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f2f2;
}

h1 { font-size: 45px; }
h3 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h6 { font-size: 18px; }

.banner h1, .banner h3, .banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}
.banner {
  color: white;
  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/banner-flowers.jpg') top center/cover no-repeat;*/
 /* background-image:url({{asset('images/fondo.jpg')}});*/
  background-position: center;
  /*background-repeat: no-repeat;*/
  height: 610px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
